<h1>Show Department</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @department.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @department.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.department_path(@conn, :edit, @department) %></span>
<span><%= link "Back", to: Routes.department_path(@conn, :index) %></span>
